html
  head
    title 'Eagle Calendar'
  body(style="background-color: black;")
    #cal
      iframe(src="https://www.google.com/calendar/embed?src=tih8l4rg8u9vbttfqc1f9m7a38%40group.calendar.google.com&ctz=America/Los_Angeles",
        style="border: 0;display:block;margin: 0 auto",
        width="1000",
        height="640",
        frameborder="0",
        scrolling="no")
